.page-wrap {
  position: relative;
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  max-width: 1400px;
}

.panel { //HIDES/ACTIVATES PANELS
  display: none; //ONLY 1 PANEL SHOWN

      &.active { //SHOWS ACTIVE PANEL
        display: inherit;
      }
}

#panel-about, #panel-contact {
  background: #ffffff;
  padding: 1.5%;
}

.hamburger {
  position: absolute;
  width: 50px;
  height: 14px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;

      .item { //LINES IN ICON
        position: absolute;
        display: block;
        font-size: 0;
        width: 20px;
        height: 2px;
        background: #000000;
        margin: auto;
        left: 0;
        right: 0;
        overflow: hidden;
      }

      .item-1 {
        top: 0;
      }

      .item-2 {
        top: 0;
        bottom: 0;
      }

      .item-3 {
        bottom: 0;
      }

}


.post {
  background: #ffffff;
  margin-bottom: 2%;
  padding: 1.5%;
}

article {
  margin-bottom: 1%;
  padding-top: 0;
}

h4 { //TYPE OF POST
  text-transform: uppercase;
  font-size: 8pt;
  font-weight: 500;
  color: #af9b63;
  letter-spacing: 1px;
}

h3 { //TITLE OF POST
  font-size: 16pt;
  border-bottom: 1px solid #E6E6E6;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Old Standard TT', serif;
  color: #333;

}

p {
  text-align: left;
  font-size: 10pt;
  color: #333;
}

.data {
  font-size: 8pt;
  margin-left: 0;
  padding-left: 0;
  color: #333;

    li {
      list-style-type: none;
      display: inline-block;
    }

    .user::before {
      content: "\f007";
      font-size: 8pt;
      margin-right: 2pt;
    }

    .date::before {
      content: "\f017";
      font-size: 8pt;
      margin-right: 2pt;
    }

    .comments::before {
      content: "\f0e5";
      font-size: 8pt;
      margin-right: 2pt;
    }

}

section.portfolio {
  background: #fff;
  @extend .clearfix;

article {
  margin-bottom: 20px;

    img {
      width: 50%;
      padding: 2%;
      @extend .clearfix;
    }

    div.title-desc {
      width: 50%;
      float: right;
      margin-top: 8px;

        h2.project-title {
          font-weight: 400;
          margin-top: 0;
          margin-bottom: 10px;
        }

        p.desc {
          display: block;
          margin-right: 10px;
          margin-top: 0;
          font-weight: 300;
        }
    }
  }

}
