#portfolio {
  width: 90%;
  margin: 0 auto;
  @extend .clearfix;

article {
  margin-bottom: 40px;
  box-sizing: border-box;
  display: block;
  clear: both;
  content: "";
  @extend clearfix;

    div.box {
      // box-sizing: border-box;
      border: 2px solid #000;
      width: 40%;
      padding-right: 30px;
      margin-bottom: 0;
      @extend .clearfix;
    }

    h4 {
      background-color: rgba(0, 0, 0, 0.1);
      vertical-align: middle;
      width: 100%;
      height: 100%;
      padding: 0 2%;
      position: absolute;
      top: 0%;
      left: 0%;
      color: transparent;
      text-align: center;
      font-size: 2em;
      font-weight: 400;
      z-index: 1000;

      &:hover div.cat-pop {
        animation-name: bg-cat;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
      }

      &:hover span {
        display: none;
      }

    }

    img {
      width: 50%;
      padding-right: 30px;
      @extend .clearfix;

    }

    img.more {
      width: 50%;
      padding-right: 30px;
      @extend .clearfix;

      &:hover {
        opacity: .5;
      }

    }

    div.title-desc {
      width: 50%;
      float: right;

        h2.project-title {
          font-weight: 300;
          margin-top: 0;
          margin-bottom: 10px;
          font-size: 4.5vh;
        }

        p.desc {
          display: block;
          margin-right: 10px;
          margin-top: 0;
          font-weight: 200;
          font-size: 3vh;

          a[href] {
            color: #A48DCC;
            text-decoration: none;
            font-weight: 300;
          }

        }
    }

    p.links {
      font-weight: 300;
      font-size: 3vh;

        a[href] {
          display: inline-block;
          font-weight: 300;
          color: #80BFB7;

                &:link {
                  text-decoration:  none;
                  color: #80BFB7;
                }

                &:visited {
                  color: #80BFB7;
                }

                &:visited::before {
                  display: none;
                }

                &:hover {
                  color: #80BFB7;
                  font-weight: 400;
                }
        }
    }



  } // END ARTICLE


// image slide

#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  float: left;
  height: 490px !important;

}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 430px;
  height: 300px;
  background: #fff;
  text-align: center;
  line-height: 300px;

    img {
      width: 100%;
      height: auto;
      padding: 0 !important;
    }

}

a.control_prev, a.control_next,
a.control_prev2, a.control_next2, {
  position: absolute;
  top: 40%;
  z-index: 1;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #fff;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.7;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover,
a.control_prev2:hover, a.control_next2:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev, a.control_prev2 {
  border-radius: 0 2px 2px 0;
}

a.control_next, a.control_next2 {
  right: 0;
  border-radius: 2px 0 0 2px;
}



.sliderTwo {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  float: left;
  height: 490px !important;
  width: 430px;

}

.sliderTwo ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto;
  list-style: none;
}

.sliderTwo ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 430px;
  height: 300px;
  background: #fff;
  text-align: center;
  line-height: 300px;

    img {
      width: 100%;
      height: auto;
      padding: 0 !important;
    }

}



// END image slideer




} // END portfolio



// TABLET VIEW
@media screen and (max-width: 1024px) {

  #portfolio article {
    margin-bottom: 60px;
  }

  h2.project-title {
    font-size: 1em !important;
  }

  .title-desc p.desc, p.links {
    font-size: .9em !important;
  }

} // END TABLET


// MOBILE VIEW
@media screen and (max-width: 766px) {

  #portfolio article {

      img {
        width: 100%;
        padding-right: 0 !important;
      }

      div.title-desc {
        margin: 0 auto !important;
        width: 100% !important;
        float: none !important;

        h2.project-title {
          margin-top: 20px;
          font-size: 1em;
          font-weight: 500;

        }

        p.desc {
          text-align: justify;
          font-weight: 300;
        }

        p.links {
          font-weight: 300;
        }

      }

  }





} // END MOBILE
