body {
  background: #E8EBFA;
}

.page-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  // background: #f3f5f5;
  padding: 5%;
  // background: #E8EBFA;
  // padding-bottom: 80%;
}

.sidebar {
  display: block;
  width: 24%;
  float: left;
  margin: auto;
  padding: 1%;
  // padding-left: 1%;
  // padding-right: 1%;
  // padding-top: 1%;
  background: #ffffff;
  // border: 1px solid #000000;
  padding-bottom: 80%;
}

h1 {
  text-align: left;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 5%;
}

nav.tabs {
  border-bottom: 1px solid #E6E6E6;
  text-transform: uppercase;
  padding-bottom: 5%;

    a[href] {
      display: block;
      bottom: -1px;
      padding-right: 8px;
      padding-left: 8px;
      font-size: 10pt;

  }
}

.blog-content {
  float: right;
  width: 70%;
  // border: 1px solid #000000;
  padding-bottom: 100%;
  background: #ffffff;
}

p {
  text-align: center;
  font-size: 10pt;
}

// //GRID
// .blog-grid {
//   // border: 1px solid #000000;
//   float: right;
//   width: 60%;
//   padding-bottom: 50%;
//   // background: #ffffff;
// }
//
// .blog-grid::after {
//   content: "";
//   display: table;
//   clear: both;
// }
//
// .blog-grid [class*='col-'] {
//   width: 50%;
//   float: left;
//   padding-right: 1%;
//   // padding-left: 1%;
//   // border: 1px solid #000000;
//   padding-bottom: 60%;
// }
//
// [class*='col-']:last-of-type {
//   padding-right: 0;
// }
//
// .module {
//   // padding: 2%;
//   background: #FFFFFF;
//   border: 1px solid #000000;
//   padding-bottom: 100%;
//   // margin-top: 2%;
//   // background: #f3f5f5;
// }
//
//


//
// *, *::after, *::before {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }
