body {
  background: #E8EBFA;
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  // background: #f3f5f5;
  padding: 1%;
  background: #E8EBFA;
  // padding-bottom: 80%;
}

.sidebar {
  width: 20%;
  background: #ffffff;
  border: 1px solid #000000;
  padding-bottom: 50%;
}



//GRID
.blog-grid {
  border: 1px solid #000000;
  float: right;
  width: 79%;
  padding-bottom: 50%;
  background: #ffffff;
}

.blog-grid::after {
  content: "";
  display: table;
  clear: both;
}

.blog-grid [class*='col-'] {
  width: 40%;
  float: right;
  padding-right: 1%;
  // padding-bottom: 60%;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.module {
  padding: 1%;
  background: #FFFFFF;
}

// .col-2 {
//   width: 49.3%;
//   display: inline-block;
// }
//
// .col-3 {
//   width: 49.3%;
//   display: inline-block;
// }

p {
  text-align: center;
  font-size: 10pt;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
